<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-horizontal-solid />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-horizontal-dashed />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-horizontal-dotted />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-vertical-dashed />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-vertical-dotted />
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-vertical-double />
    </div>
    <div class="col-md-6">
      <app-animated-color />
    </div>
    <div class="col-md-6">
      <app-horizontal-editable />
    </div>
    <div class="col-md-6">
      <app-horizontal-simple />
    </div>
    <div class="col-md-6">
      <app-vertical-simple />
    </div>
  </div>
</div>
