<div class="container-fluid">
  <div class="row">
    <app-knowledge-base-top-data />

    <div class="col-sm-12">
      <app-browse-article-category />
    </div>
    <div class="col-lg-12">
      <app-common-featured-tutorials
        [details]="featuredTutorialDetails"
        [headerTitle]="'Featured Tutorials'"
      />
    </div>
    <div class="col-lg-12">
      <app-common-article-video
        [details]="articlesAndVideosDetails"
        [headerTitle]="'Latest Articles and Videos'"
      />
    </div>
  </div>
</div>
