<div class="container-fluid default-toasts">
  <div class="row">
    <div class="col-12">
      <app-message-toast />
    </div>
    <div class="col-md-6">
      <app-live-toast />
    </div>
    <div class="col-md-6">
      <app-color-scheme-toast />
    </div>
    <div class="col-md-6">
      <app-stacking-toast />
    </div>
    <div class="col-md-6">
      <app-translucent-toast />
    </div>
    <div class="col-md-6">
      <app-default-toast />
    </div>
    <div class="col-md-6">
      <app-unique-toast />
    </div>
    <div class="col-sm-12">
      <app-toast-placement />
    </div>
  </div>
</div>
