<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-position-sweet-alert
        [title]="'Position Top Start'"
        [position]="'top-start'"
        [buttonColor]="'secondary'"
      />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-position-sweet-alert
        [title]="'Position Top End'"
        [position]="'top-end'"
        [buttonColor]="'info'"
      />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-position-sweet-alert
        [title]="'Position Bottom Start'"
        [position]="'bottom-start'"
        [buttonColor]="'warning'"
      />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-position-sweet-alert
        [title]="'Position Bottom End'"
        [position]="'bottom-end'"
        [buttonColor]="'primary'"
      />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-basic-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-title-text-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-dismiss-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-rich-html-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-confirmation-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-animated-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-confirmation-trigger-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-image-message-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-timer-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-ajax-request-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-confirmation-approval-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-rtl-support-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-password-generator-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-date-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-custom-positioned-sweetalert />
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6 col-12 box-col-4">
      <app-form-sweetalert />
    </div>
  </div>
</div>
