<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-basic-tooltip />
    </div>
    <div class="col-md-6">
      <app-colored-tooltip />
    </div>
    <div class="col-md-6">
      <app-light-tooltip />
    </div>
    <div class="col-lg-6">
      <app-tooltip-direction />
    </div>
    <div class="col-lg-6">
      <app-tooltip-html-element />
    </div>
    <div class="col-lg-6">
      <app-tooltip-outlined />
    </div>
    <div class="col-lg-6">
      <app-disabled-tooltip />
    </div>
    <div class="col-lg-6">
      <app-svg-tooltip />
    </div>
    <div class="col-lg-6">
      <app-icon-tooltip />
    </div>
  </div>
</div>
